body {
    margin: 0;
    background-color: lightgray;
    font-family: 'New Roman';

}

#logo {
    width: 10%;
    height: 10%;
    margin: 0%;

}

header {
    background-color: rgb(151, 0, 0);
    color: rgb(247, 251, 255);
    padding-bottom: 20px;

}

#title {
    display: inline;
    font-size: 40px;

}

#links li {
    display: inline;
    padding: 15px;
    border-radius: 2px solid white;

}

#links li:hover {
    background-color: white;
}

#links a {
    color: black;
    text-decoration: none;
    

}

nav {
    background-color: rgb(90, 90, 90);
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

section {
    padding: 20px;

}

table {
    padding: 20px;

}

table, th, td, caption {
    border-collapse: collapse;
    border: 2px solid black;
    padding: 30px;

}

th {
    background-color: black;
    color: white;

}

Caption {
    font-size: 20px;
    background-color: rgb(98, 0, 128);
    color: white;

}

td {
    text-align: center;
}

.facultyImg {
    width: 100px;
    height: 100px;
    border: 1px solid purple;
    border-radius: 20px;
}

img {
    width: 150px;
    height: 150px;
    
}

img:hover {
    transform: scale(1.1);




}

dd {
    padding-bottom: 20px;
}

label {
    font-weight: bold;


}

input[type=text], input[type=password] {
    border-radius: 4px;

}

fieldset {
    margin: 17px;

}

input[type=submit]  {
    width: 50%;
    padding: 20px;
    background-color: rgb(59, 59, 59);
 

}

input[type=reset] {
    width: 50%;
    padding: 20px;
    background-color: rgb(148, 3, 3);
 

}

#timeline-image {
    width: 70%;
    height: 50%;
}

figure {
    text-align: center;
}

li {
   font-weight: bold;
}
